:root {
    --popper-theme-background-color: #4E368B;
    --popper-theme-background-color-hover: #4E368B;
    --popper-theme-text-color: #FFFFFF;
    --popper-theme-border-radius: 6px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
    --popper-theme-text-align: center;
    --popper-theme-padding: 8px;
}
